<h2>Sistem Pakar</h2>
	<p><img src="img/sml.jpg" class="img-rounded" style="float:left; padding-right:10px"> Sistem pakar (dalam bahasa Inggris :expert system) adalah sistem informasi yang berisi dengan pengetahuan dari pakar sehingga dapat digunakan untuk konsultasi. Pengetahuan dari pakar di dalam sistem ini digunakan sebagi dasar oleh Sistem Pakar untuk menjawab pertanyaan (konsultasi).
Kepakaran (expertise) adalah pengetahuan yang ekstensif dan spesifik yang diperoleh melalui rangkaian pelatihan, membaca, dan pengalaman. Pengetahuan membuat pakar dapat mengambil keputusan secara lebih baik dan lebih cepat daripada non-pakar dalam memecahkan problem yang kompleks. Kepakaran mempunyai sifat berjenjang, pakar top memiliki pengetahuan lebih banyak daripada pakar yunior. Tujuan Sistem Pakar adalah untuk mentransfer kepakaran dari seorang pakar ke komputer, kemudian ke orang lain (yang bukan pakar).</p>
<p>Sistem pakar adalah suatu program komputer yang mengandung pengetahuan dari satu atau lebih pakar manusia mengenai suatu bidang spesifik. Jenis program ini pertama kali dikembangkan oleh periset kecerdasan buatan pada dasawarsa 1960-an dan 1970-an dan diterapkan secara komersial selama 1980-an. Bentuk umum sistem pakar adalah suatu program yang dibuat berdasarkan suatu set aturan yang menganalisis informasi (biasanya diberikan oleh pengguna suatu sistem) mengenai suatu kelas masalah spesifik serta analisis matematis dari masalah tersebut. Tergantung dari desainnya, sistem pakar juga mampu merekomendasikan suatu rangkaian tindakan pengguna untuk dapat menerapkan koreksi. Sistem ini memanfaatkan kapabilitas penalaran untuk mencapai suatu simpulan.</p>
<p>Secara garis besar, banyak manfaat yang dapat diambil dengan adanya sistem pakar, antara lain&nbsp;:</p>
<ol>
<li>Memungkinkan orang awam bisa mengerjakan pekerjaan para ahli.</li>
<li>Bisa melakukan proses secara berulang secara otomatis.</li>
<li>Menyimpan pengetahuan dan keahlian para pakar.</li>
<li>Meningkatkan output dan produktivitas.</li>
<li>Meningkatkan kualitas.</li>
<li>Mampu mengambil dan melestarikan keahlian para pakar (terutama yang termasuk keahlian langka).</li>
<li>Mampu beroperasi dalam lingkungan yang berbahaya.</li>
<li>Memiliki kemampuan untuk mengakses pengetahuan.</li>
<li>Memiliki reabilitas.</li>
<li>Meningkatkan kapabilitas sistem komputer.</li>
<li>Memiliki kemampuan untuk bekerja dengan informasi yang tidak lengkap dan mengandung ketidakpastian.</li>
<li>Sebagai media pelengkap dalam pelatihan.</li>
<li>Meningkatkan kapabilitas dalam penyelesaian masalah.</li>
<li>Menghemat waktu dalam pengambilan keputusan</li>
</ol>

<%= @ar %>