<%= form_tag("/periksa/create",:method => "post", :id => "formpesan" )  %>
Nama: <input type="text" name="nama">
Alamat: <textarea name="alamat"></textarea>
Email: <input type="text" name="email">
	<input type='submit' class="btn btn-primary" value='Kirim'>

</form>